# --------------------------------------------------------------------
# gcloud CLIがCloud Buildにアップロードしないファイルを指定します。
# --------------------------------------------------------------------

# OSが自動生成するファイル
.DS_Store
.env.bak
.env.testing

# Gitの管理ファイル
.git
.gitignore

# Docker関連
Dockerfile
docker-compose.yml

# ローカルのPHP依存関係。ビルド時にコンテナ内でインストールするため不要。
/vendor/

# ローカルのNode.js依存関係。ビルド時にコンテナ内でインストールするため不要。
/node_modules/

# Laravelのログやセッションファイル。コンテナに含めるべきではない。
/storage/framework/
/storage/logs/

# ローカル環境用の秘密情報ファイル。Cloud Runの環境変数で設定するため不要。
.env
